$white:          #fff;
$grey-lightest:  #f1f1f1;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1d1d1b;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// // brand colours
$bv-red: #e9152c;
$bv-darkred: #b9091f;
$bv-green: #00a75d;
$bv-blue: #0058a5;
$bv-yellow: #ffce32;
$bv-orange: #FF9B01;
$bv-beige: #baa36c;
