

  <div class="bv-section-insider"  style="background-image: url('{{site.img}}/content/geheimtipps/hero.jpg'); background-size: cover; background-position: center center">

    <div class="container vpad--xxxxl text--left text--xxl text--white">

      <div class="container container--no-padding text--center">
        <h2 class="sub-title ">Typisch Portugal</h2>
        <div class="space--xl"></div>
        <h1 class="banner-title banner-title--md bv-title-divider ">Unsere Geheimtipps</h1>

        <div class="space--xl"></div>
  <a href="{{site.baseurl}}/geheimtipps" class="btn btn--bv-red" >Inspirieren lassen</a>
      </div>
  </div>


</div>
