// general styles for the project that wouldn't be a reuseable component


/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

   .bv-title-divider::after{
     content: url(../img/icons/divider-w.svg);
     display: block;
     margin-top: 18px;
     margin-bottom: -2px;
     transform: scale(.8);

     @include bp($sm) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 10px;
       transform: scale(.8);

     }

     @include bp($md) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: 18px;
       transform: scale(.8);

     }

     @include bp($xl) {
       content: url(../img/icons/divider-w.svg);
       display: block;
       margin-top: -15px;
       transform: scale(.45);

     }
   }

.bv-dividerline{
  border-bottom: 1px solid rgba($grey-dark, .2);
}


.bv-headline-divider::after {
    content: ('....');
    display: block;
    color: $bv-blue;
    font-size: $s7;
    letter-spacing: -5px;
    margin: -35px 0 -2px 0px;
  }

   .bv-lineheight{
    line-height: 1.2em;
   }

   .bv-mob-left {
     text-align: center;
   }

   @media only screen and (max-width: 768px) {

     .bv-mob-left {
     text-align: left;
     }
   }

   .bv-mob-center {
      text-align: left;
    }

    @media only screen and (max-width: 799px) {

      .bv-mob-center {
      text-align: center;
      margin-left: 0;
      }
    }


/* ==========================================================================
   Initial Letter
========================================================================== */

$font-size: 1.15rem;
$cap-size: $font-size * 5.4;



// Wrap in @supports with `not` operator
@supports (not(initial-letter: 5)) and (not(-webkit-initial-letter: 5)) {
    .bv-subhead::first-letter {
        //color:  $bv-blue;
        font-size: $cap-size;
        float: left;
        line-height: .7;
        margin: 9px 15px 5px -3px;
    }
}

// Progressive enhancements for supported browsers
@supports (initial-letter: 5) or (-webkit-initial-letter: 5) {
    .bv-subhead:nth-of-type(1)::first-letter {
        -webkit-initial-letter: 3;
        initial-letter: 3;

    }
}

.bv-subhead::first-letter {
    //color: $bv-blue;
    font-family: $font-serif;
}



/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--blue{
    background-image: none!important;
    background-color: $bv-blue;}
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

  }
}




/* ==========================================================================
 Collapsible
========================================================================== */

.bv-mob-show{
  display: inline;
  @include bp($xxl) { display: none; }
}
.bv-mob-hide{
  display: none;
  @include bp($xxl) { display: block; }

}

@media only screen and (max-width: 970px) {

  .bv-collapsible {
    cursor: pointer;

  }

  .bv-collapsible:after {
    content: ' ansehen ';
  }

  .bv-active:after {
    content: ' schliessen ';
  }


  .bv-content {
    max-height: 0;
    overflow: hidden;
    margin-bottom: $s4;
    transition: all 0.5s ease-out;
  }

}



/* ==========================================================================
Insidertipps
========================================================================== */

.bv-img-insider{
  width: 60%;
  max-width: $lg;
  padding-left: $s3;

  @include bp($xl) {
    width: 25%;
    max-width: none;
    padding-left: $s3;
  }
}

.bv-img-circle {
  border-radius: 500px;
  //border: 4px $white solid;
}

.bv-linehight{
  line-height: 1.8rem;
}
.bv-border{
  border-bottom: 5px solid #f0ff0f;
  &:last-child { border-bottom: 0px; }
}


$circle-height: 3.4rem;

.bv-btn-up{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: $circle-height;
  height: $circle-height;
  min-width: $circle-height;
  min-height: $circle-height;
  //background-color: $bv-blue;
  border-radius: $circle-height;
  background-repeat: no-repeat;
  border: 2px solid $bv-blue;
  background-image: url('../img/icons/arrow-left.svg');
  background-size: auto ($circle-height/2);
  background-position: 48% center;
  transform: rotate(90deg);
}

/* ==========================================================================
Flight tag - Offers
========================================================================== */

.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
