<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% if page.id == 'overview' %}
    {% include page/banner.html %}
    {% elsif page.layout == 'content' %}
    {% include page/banner-content.html %}
    {% endif %}

    <div class="content-spacing section-spacing  ">
      {{ content }}
    </div>

    {% include page/footer.html %}

    <script src="{{site.js}}/main.js"></script>

  </body>

</html>
